*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(61, 61, 61);
}

header{
    display:flex;
    position: fixed;
    width: 100%;
    height: 80px;
    grid-area: head;
    background-color: rgb(255, 136, 0);
    justify-content: space-between;
    align-items: center;
}

header > h1{
    margin-left: 20px;
}

header > input{
    border: none;
    padding: 10px;
    width: 300px;
    margin-right: 40px;
}

article{
    border: 2px solid green;
    background-color: white;
}

article > img{
    height: 65%;
    width: 100%;
    margin-bottom: 30px;
}

article > a, p{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
   margin-left: 10px;
}

.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}


.box3{
    grid-area: box3;
}

.box4{
    grid-area: box4;
}

.box5{
    grid-area: box5;
    
}
.box6{
    grid-area: box6;
    
}

.box7{
    grid-area: box7;
   
}

.box8{
    grid-area: box8;

}

footer{
    display:flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    grid-area: head;
    background-color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(255, 136, 0);
    align-items: center;
}

footer > h1 {
    color: white;
    margin-left: 20px;
}



.container{
    display: grid;
    max-width: 100%;
    margin: 0px 15px;
    grid-template-rows: 100px 300px 300px 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    grid-template-areas: 'head head head head'
                         'box1 box2 box3 box4'
                        'box5 box6 box7 box8'
                        'foot foot foot foot'                     
}